/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.container {
  width: 70%;
  margin: auto;
  box-sizing: border-box;
}
/* .prof-container {
  width: 70%;
  margin: auto;
  box-sizing: border-box;
} */



@media only screen and (max-width: 768px) {
  .container {
    width: 90%; 
  }
  /* .prof-container { */
    /* width: 90%; */
    /* margin: auto;
    box-sizing: border-box; */
  /* } */
}
